.main {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
#attention{
    padding: 20px;
    width: 1000px;
    height: 450px;
    border: 1px solid white; 
    background:lightgray;
    transition: background 1s;
}
#attention:hover{
    background: white;
}