<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>美国</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/macarons.js"></script>

</head>
<body>
    <div id="8f8c65f0b67a4e37883c382c3dd5a0db" class="chart-container" style="width:1700px; height:700px;"></div>
    <script>
        var chart_8f8c65f0b67a4e37883c382c3dd5a0db = echarts.init(
            document.getElementById('8f8c65f0b67a4e37883c382c3dd5a0db'), 'macarons', {renderer: 'canvas'});
        var option_8f8c65f0b67a4e37883c382c3dd5a0db = {
    "backgroundColor": "rgba(255,250,205,0.2)",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "line",
            "name": "\u5b9e\u9645\u7f8e\u56fd\u611f\u67d3\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    1,
                    29162
                ],
                [
                    2,
                    25524
                ],
                [
                    3,
                    20329
                ],
                [
                    4,
                    18196
                ],
                [
                    5,
                    22802
                ],
                [
                    6,
                    21712
                ],
                [
                    7,
                    27245
                ],
                [
                    8,
                    26692
                ],
                [
                    9,
                    23488
                ],
                [
                    10,
                    19891
                ],
                [
                    11,
                    22630
                ],
                [
                    12,
                    20289
                ],
                [
                    13,
                    22140
                ],
                [
                    14,
                    28174
                ],
                [
                    15,
                    24082
                ],
                [
                    16,
                    21849
                ],
                [
                    17,
                    19608
                ],
                [
                    18,
                    19790
                ],
                [
                    19,
                    19049
                ],
                [
                    20,
                    20528
                ],
                [
                    21,
                    22658
                ],
                [
                    22,
                    25069
                ],
                [
                    23,
                    23290
                ],
                [
                    24,
                    20350
                ],
                [
                    25,
                    22153
                ],
                [
                    26,
                    21882
                ],
                [
                    27,
                    20578
                ],
                [
                    28,
                    22268
                ],
                [
                    29,
                    41657
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u9884\u6d4b\u7f8e\u56fd\u611f\u67d3\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    1,
                    18987.2190000348
                ],
                [
                    2,
                    18982.078726528
                ],
                [
                    3,
                    20614.5433377586
                ],
                [
                    4,
                    23063.5182817723
                ],
                [
                    5,
                    26353.9811258062
                ],
                [
                    6,
                    29429.1057974508
                ],
                [
                    7,
                    30475.6964411194
                ],
                [
                    8,
                    30196.9056225655
                ],
                [
                    9,
                    29592.7765360107
                ],
                [
                    10,
                    29008.8491849151
                ],
                [
                    11,
                    28519.7715500225
                ],
                [
                    12,
                    28134.3714160029
                ],
                [
                    13,
                    27855.7575248368
                ],
                [
                    14,
                    27688.7272934294
                ],
                [
                    15,
                    27631.0931574569
                ],
                [
                    16,
                    27665.6672746571
                ],
                [
                    17,
                    27761.5320164363
                ],
                [
                    18,
                    27883.2536945971
                ],
                [
                    19,
                    28000.731502459
                ],
                [
                    20,
                    28094.5263366274
                ],
                [
                    21,
                    28156.2711542098
                ],
                [
                    22,
                    28186.1809348496
                ],
                [
                    23,
                    28189.7180513826
                ],
                [
                    24,
                    28174.6545358536
                ],
                [
                    25,
                    28148.9921998356
                ],
                [
                    26,
                    28119.7179751844
                ],
                [
                    27,
                    28092.1832954776
                ],
                [
                    28,
                    28069.8974563209
                ],
                [
                    29,
                    28054.5946546359
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5b9e\u9645\u7f8e\u56fd\u611f\u67d3\u4eba\u6570",
                "\u9884\u6d4b\u7f8e\u56fd\u611f\u67d3\u4eba\u6570"
            ],
            "selected": {
                "\u5b9e\u9645\u7f8e\u56fd\u611f\u67d3\u4eba\u6570": true,
                "\u9884\u6d4b\u7f8e\u56fd\u611f\u67d3\u4eba\u6570": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15,
                16,
                17,
                18,
                19,
                20,
                21,
                22,
                23,
                24,
                25,
                26,
                27,
                28,
                29
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u7f8e\u56fd",
            "subtext": "\u56e0\u6570\u636e\u95ee\u9898\uff0c\u4ee51\u4e3a5\u67089\u65e5\uff0c\u4ee5\u6b64\u9012\u589e",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_8f8c65f0b67a4e37883c382c3dd5a0db.setOption(option_8f8c65f0b67a4e37883c382c3dd5a0db);
    </script>
</body>
</html>
