<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>韩国，澳大利亚</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/macarons.js"></script>

</head>
<body>
    <div id="062ce9d484944cd1830f37836f30a51e" class="chart-container" style="width:1700px; height:700px;"></div>
    <script>
        var chart_062ce9d484944cd1830f37836f30a51e = echarts.init(
            document.getElementById('062ce9d484944cd1830f37836f30a51e'), 'macarons', {renderer: 'canvas'});
        var option_062ce9d484944cd1830f37836f30a51e = {
    "backgroundColor": "rgba(255,250,205,0.2)",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "line",
            "name": "\u5b9e\u9645\u97e9\u56fd\u611f\u67d3\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    1,
                    18
                ],
                [
                    2,
                    34
                ],
                [
                    3,
                    35
                ],
                [
                    4,
                    27
                ],
                [
                    5,
                    26
                ],
                [
                    6,
                    29
                ],
                [
                    7,
                    27
                ],
                [
                    8,
                    19
                ],
                [
                    9,
                    13
                ],
                [
                    10,
                    15
                ],
                [
                    11,
                    13
                ],
                [
                    12,
                    32
                ],
                [
                    13,
                    12
                ],
                [
                    14,
                    20
                ],
                [
                    15,
                    23
                ],
                [
                    16,
                    25
                ],
                [
                    17,
                    16
                ],
                [
                    18,
                    19
                ],
                [
                    19,
                    40
                ],
                [
                    20,
                    79
                ],
                [
                    21,
                    58
                ],
                [
                    22,
                    39
                ],
                [
                    23,
                    27
                ],
                [
                    24,
                    35
                ],
                [
                    25,
                    38
                ],
                [
                    26,
                    0
                ],
                [
                    27,
                    88
                ],
                [
                    28,
                    39
                ],
                [
                    29,
                    51
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u9884\u6d4b\u97e9\u56fd\u611f\u67d3\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    1,
                    23.8538988540497
                ],
                [
                    2,
                    62.6215862632356
                ],
                [
                    3,
                    15.5869119809899
                ],
                [
                    4,
                    43.1520474286632
                ],
                [
                    5,
                    18.1108769316583
                ],
                [
                    6,
                    21.4160277968493
                ],
                [
                    7,
                    12.6723836244621
                ],
                [
                    8,
                    13.7655358907412
                ],
                [
                    9,
                    16.1868690848723
                ],
                [
                    10,
                    30.6895574642772
                ],
                [
                    11,
                    16.3023436112154
                ],
                [
                    12,
                    22.5489448402857
                ],
                [
                    13,
                    14.1138119122733
                ],
                [
                    14,
                    11.9235450309304
                ],
                [
                    15,
                    21.8244794869016
                ],
                [
                    16,
                    7.88353947047651
                ],
                [
                    17,
                    12.6366499554651
                ],
                [
                    18,
                    15.0214507584218
                ],
                [
                    19,
                    41.7565491590577
                ],
                [
                    20,
                    20.7052928910951
                ],
                [
                    21,
                    46.7694527082942
                ],
                [
                    22,
                    53.8958073745992
                ],
                [
                    23,
                    44.9330970635558
                ],
                [
                    24,
                    79.3445100038639
                ],
                [
                    25,
                    55.4355225473657
                ],
                [
                    26,
                    79.0090118635429
                ],
                [
                    27,
                    65.748058584497
                ],
                [
                    28,
                    55.6622342878331
                ],
                [
                    29,
                    62.6666241484732
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u5b9e\u9645\u6fb3\u5927\u5229\u4e9a\u611f\u67d3\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    1,
                    15
                ],
                [
                    2,
                    12
                ],
                [
                    3,
                    7
                ],
                [
                    4,
                    18
                ],
                [
                    5,
                    9
                ],
                [
                    6,
                    14
                ],
                [
                    7,
                    31
                ],
                [
                    8,
                    16
                ],
                [
                    9,
                    9
                ],
                [
                    10,
                    15
                ],
                [
                    11,
                    8
                ],
                [
                    12,
                    11
                ],
                [
                    13,
                    2
                ],
                [
                    14,
                    14
                ],
                [
                    15,
                    16
                ],
                [
                    16,
                    3
                ],
                [
                    17,
                    4
                ],
                [
                    18,
                    15
                ],
                [
                    19,
                    6
                ],
                [
                    20,
                    18
                ],
                [
                    21,
                    16
                ],
                [
                    22,
                    12
                ],
                [
                    23,
                    10
                ],
                [
                    24,
                    9
                ],
                [
                    25,
                    17
                ],
                [
                    26,
                    7
                ],
                [
                    27,
                    12
                ],
                [
                    28,
                    11
                ],
                [
                    29,
                    4
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u9884\u6d4b\u6fb3\u5927\u5229\u4e9a\u611f\u67d3\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    1,
                    10.5641673940118
                ],
                [
                    2,
                    8.60703885857377
                ],
                [
                    3,
                    11.7523544320408
                ],
                [
                    4,
                    18.0124532704838
                ],
                [
                    5,
                    7.56511287987832
                ],
                [
                    6,
                    10.1497267885792
                ],
                [
                    7,
                    13.0989200373331
                ],
                [
                    8,
                    11.4036504467666
                ],
                [
                    9,
                    11.6451530218313
                ],
                [
                    10,
                    9.24777165501508
                ],
                [
                    11,
                    11.3901571275098
                ],
                [
                    12,
                    13.0048871674494
                ],
                [
                    13,
                    9.557833060822
                ],
                [
                    14,
                    11.41768343206
                ],
                [
                    15,
                    11.4306123844641
                ],
                [
                    16,
                    11.1527255038203
                ],
                [
                    17,
                    13.5028430095035
                ],
                [
                    18,
                    13.2741226029643
                ],
                [
                    19,
                    12.5613201725063
                ],
                [
                    20,
                    11.1568185729991
                ],
                [
                    21,
                    12.1052813888903
                ],
                [
                    22,
                    12.6889955229071
                ],
                [
                    23,
                    13.678977312526
                ],
                [
                    24,
                    12.3388032421585
                ],
                [
                    25,
                    11.8730769033763
                ],
                [
                    26,
                    11.6988581611277
                ],
                [
                    27,
                    12.9969497862521
                ],
                [
                    28,
                    13.048081295264
                ],
                [
                    29,
                    9.8369183400558
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5b9e\u9645\u97e9\u56fd\u611f\u67d3\u4eba\u6570",
                "\u9884\u6d4b\u97e9\u56fd\u611f\u67d3\u4eba\u6570",
                "\u5b9e\u9645\u6fb3\u5927\u5229\u4e9a\u611f\u67d3\u4eba\u6570",
                "\u9884\u6d4b\u6fb3\u5927\u5229\u4e9a\u611f\u67d3\u4eba\u6570"
            ],
            "selected": {
                "\u5b9e\u9645\u97e9\u56fd\u611f\u67d3\u4eba\u6570": true,
                "\u9884\u6d4b\u97e9\u56fd\u611f\u67d3\u4eba\u6570": true,
                "\u5b9e\u9645\u6fb3\u5927\u5229\u4e9a\u611f\u67d3\u4eba\u6570": true,
                "\u9884\u6d4b\u6fb3\u5927\u5229\u4e9a\u611f\u67d3\u4eba\u6570": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15,
                16,
                17,
                18,
                19,
                20,
                21,
                22,
                23,
                24,
                25,
                26,
                27,
                28,
                29
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u97e9\u56fd\uff0c\u6fb3\u5927\u5229\u4e9a",
            "subtext": "\u56e0\u6570\u636e\u95ee\u9898\uff0c\u4ee51\u4e3a5\u67089\u65e5\uff0c\u4ee5\u6b64\u9012\u589e",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_062ce9d484944cd1830f37836f30a51e.setOption(option_062ce9d484944cd1830f37836f30a51e);
    </script>
</body>
</html>
