<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>菲律宾，日本</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/macarons.js"></script>

</head>
<body>
    <div id="40817b9cbf7c4360aa361f5be55690ba" class="chart-container" style="width:1700px; height:700px;"></div>
    <script>
        var chart_40817b9cbf7c4360aa361f5be55690ba = echarts.init(
            document.getElementById('40817b9cbf7c4360aa361f5be55690ba'), 'macarons', {renderer: 'canvas'});
        var option_40817b9cbf7c4360aa361f5be55690ba = {
    "backgroundColor": "rgba(255,250,205,0.2)",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "line",
            "name": "\u5b9e\u9645\u83f2\u5f8b\u5bbe\u611f\u67d3\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    1,
                    147
                ],
                [
                    2,
                    184
                ],
                [
                    3,
                    292
                ],
                [
                    4,
                    264
                ],
                [
                    5,
                    268
                ],
                [
                    6,
                    258
                ],
                [
                    7,
                    215
                ],
                [
                    8,
                    214
                ],
                [
                    9,
                    208
                ],
                [
                    10,
                    205
                ],
                [
                    11,
                    224
                ],
                [
                    12,
                    279
                ],
                [
                    13,
                    213
                ],
                [
                    14,
                    163
                ],
                [
                    15,
                    180
                ],
                [
                    16,
                    258
                ],
                [
                    17,
                    284
                ],
                [
                    18,
                    350
                ],
                [
                    19,
                    380
                ],
                [
                    20,
                    539
                ],
                [
                    21,
                    1046
                ],
                [
                    22,
                    590
                ],
                [
                    23,
                    862
                ],
                [
                    24,
                    552
                ],
                [
                    25,
                    359
                ],
                [
                    26,
                    0
                ],
                [
                    27,
                    1385
                ],
                [
                    28,
                    244
                ],
                [
                    29,
                    714
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u9884\u6d4b\u83f2\u5f8b\u5bbe\u611f\u67d3\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    1,
                    163.983461330342
                ],
                [
                    2,
                    197.743103141004
                ],
                [
                    3,
                    301.912657387709
                ],
                [
                    4,
                    246.33860244732
                ],
                [
                    5,
                    251.779475345034
                ],
                [
                    6,
                    330.756059987826
                ],
                [
                    7,
                    260.746350054272
                ],
                [
                    8,
                    211.091108156191
                ],
                [
                    9,
                    356.087637324041
                ],
                [
                    10,
                    188.756595952566
                ],
                [
                    11,
                    314.082385680316
                ],
                [
                    12,
                    319.098980985874
                ],
                [
                    13,
                    54.9421061397964
                ],
                [
                    14,
                    312.267331515538
                ],
                [
                    15,
                    363.951398924945
                ],
                [
                    16,
                    245.157934096902
                ],
                [
                    17,
                    150.169399636531
                ],
                [
                    18,
                    130.84301067235
                ],
                [
                    19,
                    217.476242682975
                ],
                [
                    20,
                    273.591105418118
                ],
                [
                    21,
                    -15.3007773669354
                ],
                [
                    22,
                    191.251131638282
                ],
                [
                    23,
                    227.320655952369
                ],
                [
                    24,
                    108.390929132168
                ],
                [
                    25,
                    248.390328946703
                ],
                [
                    26,
                    78.0444747876234
                ],
                [
                    27,
                    214.198334903987
                ],
                [
                    28,
                    287.923100714575
                ],
                [
                    29,
                    37.7689531702346
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u5b9e\u9645\u65e5\u672c\u611f\u67d3\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    1,
                    98.0
                ],
                [
                    2,
                    88.0
                ],
                [
                    3,
                    114.0
                ],
                [
                    4,
                    70.0
                ],
                [
                    5,
                    121.0
                ],
                [
                    6,
                    81.0
                ],
                [
                    7,
                    71.0
                ],
                [
                    8,
                    83.0
                ],
                [
                    9,
                    34.0
                ],
                [
                    10,
                    48.0
                ],
                [
                    11,
                    20.0
                ],
                [
                    12,
                    62.0
                ],
                [
                    13,
                    18.0
                ],
                [
                    14,
                    39.0
                ],
                [
                    15,
                    89.0
                ],
                [
                    16,
                    23.0
                ],
                [
                    17,
                    14.0
                ],
                [
                    18,
                    31.0
                ],
                [
                    19,
                    42.0
                ],
                [
                    20,
                    28.0
                ],
                [
                    21,
                    22.0
                ],
                [
                    22,
                    43.0
                ],
                [
                    23,
                    35.0
                ],
                [
                    24,
                    36.0
                ],
                [
                    25,
                    50.0
                ],
                [
                    26,
                    0.0
                ],
                [
                    27,
                    74.0
                ],
                [
                    28,
                    46.0
                ],
                [
                    29,
                    43.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u9884\u6d4b\u65e5\u672c\u611f\u67d3\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    1,
                    32.4494836678588
                ],
                [
                    2,
                    41.6782467275908
                ],
                [
                    3,
                    29.010371800433
                ],
                [
                    4,
                    15.0604666212035
                ],
                [
                    5,
                    64.6202822908053
                ],
                [
                    6,
                    33.7358428916963
                ],
                [
                    7,
                    14.0626902550753
                ],
                [
                    8,
                    55.1581140665783
                ],
                [
                    9,
                    32.5391498982025
                ],
                [
                    10,
                    44.1487989507895
                ],
                [
                    11,
                    23.0532497119989
                ],
                [
                    12,
                    13.1879510604441
                ],
                [
                    13,
                    22.1961036444999
                ],
                [
                    14,
                    24.8442705744101
                ],
                [
                    15,
                    15.1795785036501
                ],
                [
                    16,
                    29.2416022981373
                ],
                [
                    17,
                    18.17467617023
                ],
                [
                    18,
                    33.2135697971637
                ],
                [
                    19,
                    36.0576868727019
                ],
                [
                    20,
                    7.09473077667752
                ],
                [
                    21,
                    86.001558281983
                ],
                [
                    22,
                    19.3394915879989
                ],
                [
                    23,
                    27.2468529949305
                ],
                [
                    24,
                    112.210275784816
                ],
                [
                    25,
                    40.984044904509
                ],
                [
                    26,
                    10.5597025443091
                ],
                [
                    27,
                    75.3940139369628
                ],
                [
                    28,
                    31.618592489744
                ],
                [
                    29,
                    88.7267294338798
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5b9e\u9645\u83f2\u5f8b\u5bbe\u611f\u67d3\u4eba\u6570",
                "\u9884\u6d4b\u83f2\u5f8b\u5bbe\u611f\u67d3\u4eba\u6570",
                "\u5b9e\u9645\u65e5\u672c\u611f\u67d3\u4eba\u6570",
                "\u9884\u6d4b\u65e5\u672c\u611f\u67d3\u4eba\u6570"
            ],
            "selected": {
                "\u5b9e\u9645\u83f2\u5f8b\u5bbe\u611f\u67d3\u4eba\u6570": true,
                "\u9884\u6d4b\u83f2\u5f8b\u5bbe\u611f\u67d3\u4eba\u6570": true,
                "\u5b9e\u9645\u65e5\u672c\u611f\u67d3\u4eba\u6570": true,
                "\u9884\u6d4b\u65e5\u672c\u611f\u67d3\u4eba\u6570": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15,
                16,
                17,
                18,
                19,
                20,
                21,
                22,
                23,
                24,
                25,
                26,
                27,
                28,
                29
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u83f2\u5f8b\u5bbe\uff0c\u65e5\u672c",
            "subtext": "\u56e0\u6570\u636e\u95ee\u9898\uff0c\u4ee51\u4e3a5\u67089\u65e5\uff0c\u4ee5\u6b64\u9012\u589e",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_40817b9cbf7c4360aa361f5be55690ba.setOption(option_40817b9cbf7c4360aa361f5be55690ba);
    </script>
</body>
</html>
