<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>西班牙，中国</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/macarons.js"></script>

</head>
<body>
    <div id="462e0b7f51b8460fa7d834fc85a99521" class="chart-container" style="width:1700px; height:700px;"></div>
    <script>
        var chart_462e0b7f51b8460fa7d834fc85a99521 = echarts.init(
            document.getElementById('462e0b7f51b8460fa7d834fc85a99521'), 'macarons', {renderer: 'canvas'});
        var option_462e0b7f51b8460fa7d834fc85a99521 = {
    "backgroundColor": "rgba(255,250,205,0.2)",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "line",
            "name": "\u5b9e\u9645\u897f\u73ed\u7259\u611f\u67d3\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    1,
                    3262
                ],
                [
                    2,
                    2666
                ],
                [
                    3,
                    1880
                ],
                [
                    4,
                    3480
                ],
                [
                    5,
                    1377
                ],
                [
                    6,
                    1575
                ],
                [
                    7,
                    1551
                ],
                [
                    8,
                    1721
                ],
                [
                    9,
                    2138
                ],
                [
                    10,
                    1214
                ],
                [
                    11,
                    469
                ],
                [
                    12,
                    615
                ],
                [
                    13,
                    721
                ],
                [
                    14,
                    593
                ],
                [
                    15,
                    1787
                ],
                [
                    16,
                    466
                ],
                [
                    17,
                    482
                ],
                [
                    18,
                    0
                ],
                [
                    19,
                    487
                ],
                [
                    20,
                    510
                ],
                [
                    21,
                    1137
                ],
                [
                    22,
                    658
                ],
                [
                    23,
                    664
                ],
                [
                    24,
                    201
                ],
                [
                    25,
                    209
                ],
                [
                    26,
                    294
                ],
                [
                    27,
                    394
                ],
                [
                    28,
                    334
                ],
                [
                    29,
                    318
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u9884\u6d4b\u897f\u73ed\u7259\u611f\u67d3\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    1,
                    2939.76870326109
                ],
                [
                    2,
                    1000.03423474414
                ],
                [
                    3,
                    2834.78085713425
                ],
                [
                    4,
                    1078.42981277288
                ],
                [
                    5,
                    1962.55628797593
                ],
                [
                    6,
                    1288.54743224953
                ],
                [
                    7,
                    920.964698033985
                ],
                [
                    8,
                    1605.23327948615
                ],
                [
                    9,
                    134.130176988096
                ],
                [
                    10,
                    1219.32808825573
                ],
                [
                    11,
                    204.249334899987
                ],
                [
                    12,
                    773.041683070613
                ],
                [
                    13,
                    76.8032230438955
                ],
                [
                    14,
                    432.082045877037
                ],
                [
                    15,
                    245.438564189881
                ],
                [
                    16,
                    373.182717893272
                ],
                [
                    17,
                    497.71815979689
                ],
                [
                    18,
                    475.806769382236
                ],
                [
                    19,
                    656.774474466786
                ],
                [
                    20,
                    586.649969555153
                ],
                [
                    21,
                    712.827671981513
                ],
                [
                    22,
                    652.64018363897
                ],
                [
                    23,
                    707.619504077713
                ],
                [
                    24,
                    665.500572202505
                ],
                [
                    25,
                    673.17302873532
                ],
                [
                    26,
                    654.054200461915
                ],
                [
                    27,
                    638.758369302112
                ],
                [
                    28,
                    634.908121973893
                ],
                [
                    29,
                    618.498767422265
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u5b9e\u9645\u4e2d\u56fd\u611f\u67d3\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    1,
                    14.0
                ],
                [
                    2,
                    20.0
                ],
                [
                    3,
                    1.0
                ],
                [
                    4,
                    7.0
                ],
                [
                    5,
                    6.0
                ],
                [
                    6,
                    5.0
                ],
                [
                    7,
                    9.0
                ],
                [
                    8,
                    6.0
                ],
                [
                    9,
                    10.0
                ],
                [
                    10,
                    6.0
                ],
                [
                    11,
                    5.0
                ],
                [
                    12,
                    2.0
                ],
                [
                    13,
                    13.0
                ],
                [
                    14,
                    2.0
                ],
                [
                    15,
                    3.0
                ],
                [
                    16,
                    11.0
                ],
                [
                    17,
                    7.0
                ],
                [
                    18,
                    1.0
                ],
                [
                    19,
                    3.0
                ],
                [
                    20,
                    0.0
                ],
                [
                    21,
                    18.0
                ],
                [
                    22,
                    5.0
                ],
                [
                    23,
                    18.0
                ],
                [
                    24,
                    9.0
                ],
                [
                    25,
                    5.0
                ],
                [
                    26,
                    1.0
                ],
                [
                    27,
                    11.0
                ],
                [
                    28,
                    6.0
                ],
                [
                    29,
                    9.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u9884\u6d4b\u4e2d\u56fd\u611f\u67d3\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    1,
                    12.0430497488087
                ],
                [
                    2,
                    9.41102900898986
                ],
                [
                    3,
                    3.18169589663944
                ],
                [
                    4,
                    10.2589176294431
                ],
                [
                    5,
                    9.30473448562144
                ],
                [
                    6,
                    4.00501433661374
                ],
                [
                    7,
                    8.2416455674891
                ],
                [
                    8,
                    5.72779388434921
                ],
                [
                    9,
                    9.72527951770431
                ],
                [
                    10,
                    8.3418375170081
                ],
                [
                    11,
                    5.099378313974
                ],
                [
                    12,
                    6.82596331324611
                ],
                [
                    13,
                    12.0675472651862
                ],
                [
                    14,
                    8.33449792781294
                ],
                [
                    15,
                    1.90983967554952
                ],
                [
                    16,
                    12.7371044371286
                ],
                [
                    17,
                    11.3700825044988
                ],
                [
                    18,
                    2.8302862868851
                ],
                [
                    19,
                    11.4119503057588
                ],
                [
                    20,
                    1.2876354231701
                ],
                [
                    21,
                    11.4466992677125
                ],
                [
                    22,
                    1.40787098045599
                ],
                [
                    23,
                    16.7499406305981
                ],
                [
                    24,
                    8.19836797103756
                ],
                [
                    25,
                    4.5414970722487
                ],
                [
                    26,
                    1.94119033969605
                ],
                [
                    27,
                    9.28045952317682
                ],
                [
                    28,
                    2.23888593666286
                ],
                [
                    29,
                    3.41338197509238
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5b9e\u9645\u897f\u73ed\u7259\u611f\u67d3\u4eba\u6570",
                "\u9884\u6d4b\u897f\u73ed\u7259\u611f\u67d3\u4eba\u6570",
                "\u5b9e\u9645\u4e2d\u56fd\u611f\u67d3\u4eba\u6570",
                "\u9884\u6d4b\u4e2d\u56fd\u611f\u67d3\u4eba\u6570"
            ],
            "selected": {
                "\u5b9e\u9645\u897f\u73ed\u7259\u611f\u67d3\u4eba\u6570": true,
                "\u9884\u6d4b\u897f\u73ed\u7259\u611f\u67d3\u4eba\u6570": true,
                "\u5b9e\u9645\u4e2d\u56fd\u611f\u67d3\u4eba\u6570": true,
                "\u9884\u6d4b\u4e2d\u56fd\u611f\u67d3\u4eba\u6570": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15,
                16,
                17,
                18,
                19,
                20,
                21,
                22,
                23,
                24,
                25,
                26,
                27,
                28,
                29
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u897f\u73ed\u7259\uff0c\u4e2d\u56fd",
            "subtext": "\u56e0\u6570\u636e\u95ee\u9898\uff0c\u4ee51\u4e3a5\u67089\u65e5\uff0c\u4ee5\u6b64\u9012\u589e",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_462e0b7f51b8460fa7d834fc85a99521.setOption(option_462e0b7f51b8460fa7d834fc85a99521);
    </script>
</body>
</html>
