<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Projections of data</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/macarons.js"></script>

</head>
<body>
    <div id="978dc762bd8940268098e8c8ba13bb48" class="chart-container" style="width:1700px; height:700px;"></div>
    <script>
        var chart_978dc762bd8940268098e8c8ba13bb48 = echarts.init(
            document.getElementById('978dc762bd8940268098e8c8ba13bb48'), 'macarons', {renderer: 'canvas'});
        var option_978dc762bd8940268098e8c8ba13bb48 = {
    "backgroundColor": "rgba(255,250,205,0.2)",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "line",
            "name": "\u5b9e\u9645\u83f2\u5f8b\u5bbe\u611f\u67d3\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    1,
                    147
                ],
                [
                    2,
                    184
                ],
                [
                    3,
                    292
                ],
                [
                    4,
                    264
                ],
                [
                    5,
                    268
                ],
                [
                    6,
                    258
                ],
                [
                    7,
                    215
                ],
                [
                    8,
                    214
                ],
                [
                    9,
                    208
                ],
                [
                    10,
                    205
                ],
                [
                    11,
                    224
                ],
                [
                    12,
                    279
                ],
                [
                    13,
                    213
                ],
                [
                    14,
                    163
                ],
                [
                    15,
                    180
                ],
                [
                    16,
                    258
                ],
                [
                    17,
                    284
                ],
                [
                    18,
                    350
                ],
                [
                    19,
                    380
                ],
                [
                    20,
                    539
                ],
                [
                    21,
                    1046
                ],
                [
                    22,
                    590
                ],
                [
                    23,
                    862
                ],
                [
                    24,
                    552
                ],
                [
                    25,
                    359
                ],
                [
                    26,
                    0
                ],
                [
                    27,
                    1385
                ],
                [
                    28,
                    244
                ],
                [
                    29,
                    714
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u9884\u6d4b\u83f2\u5f8b\u5bbe\u611f\u67d3\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    1,
                    163.983461330342
                ],
                [
                    2,
                    197.743103141004
                ],
                [
                    3,
                    301.912657387709
                ],
                [
                    4,
                    246.33860244732
                ],
                [
                    5,
                    251.779475345034
                ],
                [
                    6,
                    330.756059987826
                ],
                [
                    7,
                    260.746350054272
                ],
                [
                    8,
                    211.091108156191
                ],
                [
                    9,
                    356.087637324041
                ],
                [
                    10,
                    188.756595952566
                ],
                [
                    11,
                    314.082385680316
                ],
                [
                    12,
                    319.098980985874
                ],
                [
                    13,
                    54.9421061397964
                ],
                [
                    14,
                    312.267331515538
                ],
                [
                    15,
                    363.951398924945
                ],
                [
                    16,
                    245.157934096902
                ],
                [
                    17,
                    150.169399636531
                ],
                [
                    18,
                    130.84301067235
                ],
                [
                    19,
                    217.476242682975
                ],
                [
                    20,
                    273.591105418118
                ],
                [
                    21,
                    -15.3007773669354
                ],
                [
                    22,
                    191.251131638282
                ],
                [
                    23,
                    227.320655952369
                ],
                [
                    24,
                    108.390929132168
                ],
                [
                    25,
                    248.390328946703
                ],
                [
                    26,
                    78.0444747876234
                ],
                [
                    27,
                    214.198334903987
                ],
                [
                    28,
                    287.923100714575
                ],
                [
                    29,
                    37.7689531702346
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u5b9e\u9645\u5fb7\u56fd\u611f\u67d3\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    1,
                    1446.0
                ],
                [
                    2,
                    663.0
                ],
                [
                    3,
                    460.0
                ],
                [
                    4,
                    813.0
                ],
                [
                    5,
                    734.0
                ],
                [
                    6,
                    552.0
                ],
                [
                    7,
                    380.0
                ],
                [
                    8,
                    1237.0
                ],
                [
                    9,
                    654.0
                ],
                [
                    10,
                    182.0
                ],
                [
                    11,
                    738.0
                ],
                [
                    12,
                    861.0
                ],
                [
                    13,
                    598.0
                ],
                [
                    14,
                    402.0
                ],
                [
                    15,
                    637.0
                ],
                [
                    16,
                    285.0
                ],
                [
                    17,
                    348.0
                ],
                [
                    18,
                    382.0
                ],
                [
                    19,
                    722.0
                ],
                [
                    20,
                    394.0
                ],
                [
                    21,
                    641.0
                ],
                [
                    22,
                    566.0
                ],
                [
                    23,
                    245.0
                ],
                [
                    24,
                    138.0
                ],
                [
                    25,
                    371.0
                ],
                [
                    26,
                    0.0
                ],
                [
                    27,
                    593.0
                ],
                [
                    28,
                    452.0
                ],
                [
                    29,
                    492.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u9884\u6d4b\u5fb7\u56fd\u611f\u67d3\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    1,
                    1078.90101785428
                ],
                [
                    2,
                    758.485179650106
                ],
                [
                    3,
                    776.809514426491
                ],
                [
                    4,
                    871.708239728578
                ],
                [
                    5,
                    758.929170939017
                ],
                [
                    6,
                    749.103179597945
                ],
                [
                    7,
                    723.455693420931
                ],
                [
                    8,
                    842.287909089662
                ],
                [
                    9,
                    799.222874586381
                ],
                [
                    10,
                    798.861464223223
                ],
                [
                    11,
                    777.175019568738
                ],
                [
                    12,
                    750.051490467764
                ],
                [
                    13,
                    755.57427538561
                ],
                [
                    14,
                    766.846938852528
                ],
                [
                    15,
                    793.234337263299
                ],
                [
                    16,
                    770.300763241119
                ],
                [
                    17,
                    770.089444853661
                ],
                [
                    18,
                    759.331357942569
                ],
                [
                    19,
                    761.4268088259
                ],
                [
                    20,
                    766.540021685997
                ],
                [
                    21,
                    772.828125652708
                ],
                [
                    22,
                    773.958398100903
                ],
                [
                    23,
                    765.794545380374
                ],
                [
                    24,
                    766.081272628363
                ],
                [
                    25,
                    764.310059587703
                ],
                [
                    26,
                    767.811868484484
                ],
                [
                    27,
                    769.08849697875
                ],
                [
                    28,
                    770.146898484129
                ],
                [
                    29,
                    768.204002289805
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u5b9e\u9645\u610f\u5927\u5229\u611f\u67d3\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    1,
                    1327.0
                ],
                [
                    2,
                    1083.0
                ],
                [
                    3,
                    802.0
                ],
                [
                    4,
                    744.0
                ],
                [
                    5,
                    1402.0
                ],
                [
                    6,
                    888.0
                ],
                [
                    7,
                    992.0
                ],
                [
                    8,
                    789.0
                ],
                [
                    9,
                    875.0
                ],
                [
                    10,
                    675.0
                ],
                [
                    11,
                    451.0
                ],
                [
                    12,
                    813.0
                ],
                [
                    13,
                    665.0
                ],
                [
                    14,
                    642.0
                ],
                [
                    15,
                    652.0
                ],
                [
                    16,
                    669.0
                ],
                [
                    17,
                    531.0
                ],
                [
                    18,
                    300.0
                ],
                [
                    19,
                    397.0
                ],
                [
                    20,
                    584.0
                ],
                [
                    21,
                    593.0
                ],
                [
                    22,
                    516.0
                ],
                [
                    23,
                    416.0
                ],
                [
                    24,
                    333.0
                ],
                [
                    25,
                    200.0
                ],
                [
                    26,
                    318.0
                ],
                [
                    27,
                    321.0
                ],
                [
                    28,
                    177.0
                ],
                [
                    29,
                    518.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u9884\u6d4b\u610f\u5927\u5229\u611f\u67d3\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    1,
                    1022.15677251193
                ],
                [
                    2,
                    339.920215645897
                ],
                [
                    3,
                    495.33642887744
                ],
                [
                    4,
                    997.387734286624
                ],
                [
                    5,
                    1373.66145875537
                ],
                [
                    6,
                    641.248960026626
                ],
                [
                    7,
                    664.973649557291
                ],
                [
                    8,
                    711.326310739395
                ],
                [
                    9,
                    532.822225385157
                ],
                [
                    10,
                    1212.73084263588
                ],
                [
                    11,
                    536.38124985052
                ],
                [
                    12,
                    215.041004051638
                ],
                [
                    13,
                    228.454981880851
                ],
                [
                    14,
                    78.8356662421287
                ],
                [
                    15,
                    760.144242811511
                ],
                [
                    16,
                    756.40201060289
                ],
                [
                    17,
                    663.857401828903
                ],
                [
                    18,
                    344.455676853267
                ],
                [
                    19,
                    185.360925225698
                ],
                [
                    20,
                    268.715450243905
                ],
                [
                    21,
                    561.73019706086
                ],
                [
                    22,
                    575.33083271155
                ],
                [
                    23,
                    544.458740447871
                ],
                [
                    24,
                    574.781817419864
                ],
                [
                    25,
                    87.2227789782423
                ],
                [
                    26,
                    546.65165523027
                ],
                [
                    27,
                    320.87584484062
                ],
                [
                    28,
                    272.382594748924
                ],
                [
                    29,
                    563.899473655842
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5b9e\u9645\u83f2\u5f8b\u5bbe\u611f\u67d3\u4eba\u6570",
                "\u9884\u6d4b\u83f2\u5f8b\u5bbe\u611f\u67d3\u4eba\u6570",
                "\u5b9e\u9645\u5fb7\u56fd\u611f\u67d3\u4eba\u6570",
                "\u9884\u6d4b\u5fb7\u56fd\u611f\u67d3\u4eba\u6570",
                "\u5b9e\u9645\u610f\u5927\u5229\u611f\u67d3\u4eba\u6570",
                "\u9884\u6d4b\u610f\u5927\u5229\u611f\u67d3\u4eba\u6570"
            ],
            "selected": {
                "\u5b9e\u9645\u83f2\u5f8b\u5bbe\u611f\u67d3\u4eba\u6570": true,
                "\u9884\u6d4b\u83f2\u5f8b\u5bbe\u611f\u67d3\u4eba\u6570": true,
                "\u5b9e\u9645\u5fb7\u56fd\u611f\u67d3\u4eba\u6570": true,
                "\u9884\u6d4b\u5fb7\u56fd\u611f\u67d3\u4eba\u6570": true,
                "\u5b9e\u9645\u610f\u5927\u5229\u611f\u67d3\u4eba\u6570": true,
                "\u9884\u6d4b\u610f\u5927\u5229\u611f\u67d3\u4eba\u6570": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15,
                16,
                17,
                18,
                19,
                20,
                21,
                22,
                23,
                24,
                25,
                26,
                27,
                28,
                29
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u4e00\u4e9b\u56fd\u5bb6\u7684\u771f\u5b9e\u611f\u67d3\u60c5\u51b5\u4e0e\u9884\u6d4b",
            "subtext": "\u56e0\u6570\u636e\u95ee\u9898\uff0c\u4ee51\u4e3a5\u67089\u65e5\uff0c\u4ee5\u6b64\u9012\u589e",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_978dc762bd8940268098e8c8ba13bb48.setOption(option_978dc762bd8940268098e8c8ba13bb48);
    </script>
</body>
</html>
