<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/world.js"></script>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="static/assets/css/animate.min.css">
		<link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/assets/css/font-awesome.min.css">
		<link href='#css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="static/assets/css/templatemo-style.css">
		<script src="static/assets/js/jquery.js"></script>
		<script src="static/assets/js/bootstrap.min.js"></script>
        <script src="static/assets/js/jquery.singlePageNav.min.js"></script>
		<script src="static/assets/js/typed.js"></script>
		<script src="static/assets/js/wow.min.js"></script>
		<script src="static/assets/js/custom.js"></script>
    <title>Data on lethality, etc.</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/macarons.js"></script>

</head>
<body>
<body id="top">

		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-wave">
     	 		<div class="sk-rect1"></div>
       			<div class="sk-rect2"></div>
       			<div class="sk-rect3"></div>
      	 		<div class="sk-rect4"></div>
      			<div class="sk-rect5"></div>
     		</div>
    	</div>
    	<!-- end preloader -->

        <!-- start header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p><i class="fa fa-phone"></i><span> Phone</span>010-020-0340</p>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p><i class="fa fa-envelope-o"></i><span> Email</span><a href="#">dlut@company.com</a></p>
                    </div>
                    <div class="col-md-5 col-sm-4 col-xs-12">
                        <ul class="social-icon">
                            <li><span>Meet us on</span></li>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                            <li><a href="#" class="fa fa-apple"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->

    	<!-- start navigation -->
		<div class="navbar navbar-default templatemo-nav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="/index" class="navbar-brand">Databoom</a>
				</div>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/index">HOME</a></li>
						<li><a href="/video">VIDEO</a></li>
						<li><a href="/map">MAP</a></li>
						<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Curves
                                <b class="caret"></b>
                            </a>
                                 <ul class="dropdown-menu">
                                     <li><a href="/line_map">Number of infected persons curve</a></li>
									 <li><a href="/line_map2">Death toll curve</a></li>
                                     <li><a href="/line_map3">Curve for the number of healers</a></li>
                                 </ul>
                        </li>
						<li><a href="/some_data">Data on lethality,etc</a></li>
						<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Projections
                                <b class="caret"></b>
                            </a>
                                 <ul class="dropdown-menu">
                                     <li><a href="/Projections1">Philippines, Germany and Italy</a></li>
									 <li><a href="/Projections2">United States</a></li>
                                     <li><a href="/Projections3">Spanish and China</a></li>
									 <li><a href="/Projections4">Philippines and Japan</a></li>
									 <li><a href="/Projections5">Korea and Australia</a></li>
                                 </ul>
                        </li>
					</ul>
				</div>
			</div>
        </div>
		<!-- end navigation -->
		<div class="copyrights">Collect from <a href="http://www.moobnn.com/" >免费模板</a></div>
    	<!-- start home -->
    <div id="3d20909de4ee4ca4abe136062295ccd9" class="chart-container" style="width:1700px; height:600px;"></div>
    <script>
        var chart_3d20909de4ee4ca4abe136062295ccd9 = echarts.init(
            document.getElementById('3d20909de4ee4ca4abe136062295ccd9'), 'macarons', {renderer: 'canvas'});
        var option_3d20909de4ee4ca4abe136062295ccd9 = {
    "backgroundColor": "rgba(255,250,205,0.2)",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "line",
            "name": "\u6cbb\u6108\u7387",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u4e2d\u56fd",
                    0.367788242741467
                ],
                [
                    "\u7f8e\u56fd",
                    0.116830740979599
                ],
                [
                    "\u897f\u73ed\u7259",
                    0.315502881294964
                ],
                [
                    "\u5fb7\u56fd",
                    0.428885144618279
                ],
                [
                    "\u82f1\u56fd",
                    0.0919822273406619
                ],
                [
                    "\u610f\u5927\u5229",
                    0.244395640176643
                ],
                [
                    "\u97e9\u56fd",
                    0.495287763710284
                ],
                [
                    "\u6fb3\u5927\u5229\u4e9a",
                    0.480156375463372
                ],
                [
                    "\u65e5\u672c",
                    0.261397463678169
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u81f4\u6b7b\u7387",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u4e2d\u56fd",
                    0.0304876651368958
                ],
                [
                    "\u7f8e\u56fd",
                    0.0330830830204253
                ],
                [
                    "\u897f\u73ed\u7259",
                    0.0628600503890884
                ],
                [
                    "\u5fb7\u56fd",
                    0.0197188260898112
                ],
                [
                    "\u82f1\u56fd",
                    0.07835314036045
                ],
                [
                    "\u610f\u5927\u5229",
                    0.0907123650568166
                ],
                [
                    "\u97e9\u56fd",
                    0.0145616473217051
                ],
                [
                    "\u6fb3\u5927\u5229\u4e9a",
                    0.010285917467874
                ],
                [
                    "\u65e5\u672c",
                    0.0266877666124683
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u589e\u957f\u7387",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u4e2d\u56fd",
                    0.102386845684779
                ],
                [
                    "\u7f8e\u56fd",
                    0.112549783232782
                ],
                [
                    "\u897f\u73ed\u7259",
                    0.117061841140675
                ],
                [
                    "\u5fb7\u56fd",
                    0.118436883661523
                ],
                [
                    "\u82f1\u56fd",
                    0.114021637767162
                ],
                [
                    "\u610f\u5927\u5229",
                    0.138100994519214
                ],
                [
                    "\u97e9\u56fd",
                    0.0750135554052659
                ],
                [
                    "\u6fb3\u5927\u5229\u4e9a",
                    0.0611842760387113
                ],
                [
                    "\u65e5\u672c",
                    0.0636048299273943
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u6cbb\u6108\u7387",
                "\u81f4\u6b7b\u7387",
                "\u589e\u957f\u7387"
            ],
            "selected": {
                "\u6cbb\u6108\u7387": true,
                "\u81f4\u6b7b\u7387": true,
                "\u589e\u957f\u7387": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u4e2d\u56fd",
                "\u7f8e\u56fd",
                "\u897f\u73ed\u7259",
                "\u5fb7\u56fd",
                "\u82f1\u56fd",
                "\u610f\u5927\u5229",
                "\u97e9\u56fd",
                "\u6fb3\u5927\u5229\u4e9a",
                "\u65e5\u672c"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u4e16\u754c\u4e3b\u8981\u56fd\u5bb6\u75ab\u60c5\u6570\u636e",
            "subtext": "\u5404\u6570\u636e\u66f2\u7ebf",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_3d20909de4ee4ca4abe136062295ccd9.setOption(option_3d20909de4ee4ca4abe136062295ccd9);
    </script>
        <!-- start copyright -->
         <footer id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
                       	Copyright &copy; 2084 DATABOOM</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end copyright -->
</body>
</html>
